<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit {{curr_recipe.title}}</title>
    
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script defer src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!-- End Bootstrap -->

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/add_recipe.css' %}">
    <!-- favicon import -->
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark sticky-top" id="header">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="/media/App Icon - 60x60.png"></a>
            <h2 class=""><a class="navbar-brand" href="/profile/{{request.session.id}}">{{request.session.user}}</a></h2>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarresponsive">
                <span class="navbar-toggler-icon"> </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/add_recipe">Add Recipe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user_friends/{{request.session.id}}">My Friends</a>
                    </li>
                    <li>
                        <a href="/allrecipes" class="nav-link">Browse All Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Log Out</a>
                    </li>
                </ul>
            </div>
        </div> 
    </nav>
    <div class="bg-dark">
        <!-- <hr class="my-2"> -->
        <h2 class="text-white text-center">Edit Recipe: {{curr_recipe.title}}</h2>
        <hr class="my-2">
        
    </div>
    <div class="container">
       
        <div class="form">
            <form action="/process_recipe_edit/{{curr_recipe.id}}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="title">Title</label>
                    <div class="col-sm-10">
                        <input class="form-control" placeholder="{{curr_recipe.title}}" type="text" name="title" id="title">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="desc">Description</label>
                    <div class="col-sm-10">
                        <input class="form-control" placeholder="{{curr_recipe.description}}" type="text" name="desc" id="desc">
                    </div>
                </div>   
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="book">Cookbook</label>
                    <div class="col-sm-6">
                        <input type="text" id="book" class="form-control" name="book" placeholder="{{curr_recipe.book.title}}" list="books" />
                            <datalist id="books">
                                {% for book in all_books %}
                                <option value="{{book.title}}">{{book.title}}</option>
                                {% endfor %}
                            </datalist>
                        </select>
                    </div>
                </div>  
                
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for='steps'>Steps</label>
                    <div class="col-sm-10">
                        <p>{{curr_recipe.steps.content}}</p>
                        <div>
                            <input type="hidden" value="{{steps.count}}" name="steps"> 
                            {% for step in steps %}
                            
                            <input type="hidden" value="{{step.id}}" name="step{{step.id}}">
                            <input type="textarea" class="form-control" name="content{{step.id}}" placeholder="{{step.content}}">
                            <br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                       <!-- <div id="container">
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for='steps'>Steps</label>
                    <div class="col-sm-4">
                    <input type="text" id="member" name="member" placeholder=" 0" size="2" rows="1"> Number of steps:<br />
                        <a href="#" id="filldetails" onclick="addFields()">Add Steps</a>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for='steps'></label>
                    <div class="col-sm-10">
                        <div id="container" />
                        </div>  
                    </div>
                </div>                    -->
                <!-- <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="book">Rating</label>
                    <div class="col-sm-2">
                        <select class="form-control" name="rating">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>  -->
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="notes">Notes</label>
                    <div class="col-sm-10">
                        <input class="form-control" placeholder="{{curr_recipe.notes}}" type="text" name="notes" id="notes">
                    </div>
                </div>                    
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="photo">Photo</label>
                    <div class="col-sm-10">
                        <input class="form-control-file" placeholder="Change Photo" type="file" name="photo" id="photo">
                    </div>
                </div> 
                <div class="form-group row">
                    <div class="col-sm-10 offset-sm-2">
                      <button type="submit" class="btn btn-dark">Edit Recipe</button>
                    </div>
                </div>
            </form>
            <form action="/delete_recipe/{{curr_recipe.id}}" method="post">
                {% csrf_token %}
                <div class="form-group row">
                    <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-danger">Delete Recipe</button>
                    </div>
                </div>
            </form>
        
        </div>
    </div>
</body>
<script type='text/javascript'>
    function addFields() {
        // Number of inputs to create
        var number = document.getElementById("member").value;
        // Container <div> where dynamic content will be placed
        var container = document.getElementById("container");
        // Clear previous contents of the container
        while (container.hasChildNodes()) {
            container.removeChild(container.lastChild);
        }
        for (i = 0; i < number; i++) {
            // Append a node with a random text
            // container.appendChild(document.createTextNode("Step " + (i + 1)));
            // Create an <input> element, set its type and name attributes
            var input = document.createElement("input");
            input.type = "textarea";
            input.className = "form-control";
            input.placeholder = "Step " + (i+1);
            input.name = "step" + i;
            container.appendChild(input);
            // Append a line break 
            container.appendChild(document.createElement("br"));
        }
    }
</script>
</html>