<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Recipe Rater</title>

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script defer src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!-- End Bootstrap -->

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/log_reg.css' %}">
    <script defer src="{% static 'js/logReg.js' %}"></script>
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div id="container">
        <h1>Welcome to the Recipe Rater</h1>
        <div id="buffer"></div>
        <div id="register">
            <form action="/register" method="POST" id="regForm">
                {% csrf_token %}
                <h2>Register</h2>
                <div class="labels">
                    <p>First Name</p>
                    <p>Last Name</p>
                    <p>Email</p>
                    <p>Password</p>
                    <p>Confirm Password</p>
                </div>
                <div class="inputs">
                    <input type="text" name="fname">
                    <input type="text" name="lname">
                    <input type="text" name="email">
                    <input type="password" name="pw">
                    <input type="password" name="confpw">
                </div>
                <input type="submit" value="Register" class="submit">
            </form>
        </div>
        <div id="login">
            <form action="/login" method="POST" id="logForm">
                {% csrf_token %}
                <h2>Login</h2>
                <div class="labels">
                    <p>Email</p>
                    <p>Password</p>
                </div>
                <div class="inputs">
                    <input type="text" name="email" class="input">
                    <input type="password" name="pw" class="input">
                </div>
                <input type="submit" value="Log In" class="submit">
            </form>
        </div>
    </div>
</body>
</html>