<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Recipe Rater</title>

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <!-- End Bootstrap -->
    <!-- Awesomefonts -->
    <script src="https://kit.fontawesome.com/d8911d9eb1.js" crossorigin="anonymous"></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/recipe.css' %}">
</head>

<body>
    <div class="container">
        <div id="header">
            <h1>{{curr_recipe.title}}</h1>
            <a href="/profile/{{request.session.id}}" class="btn-link">Go Back</a>
        </div>
        <div class="content">
            <div id="desc">
                <p>From: {{curr_recipe.book.title}}</p>
                {% if user.id == curr_recipe.poster.id %}

                {% else %}
                <form action="/recipe/{{curr_recipe.id}}/rating" method="POST">
                    {% csrf_token %}
                    <label>Rate this Recipe:</label>
                    <br>
                    <select name="rate">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <i class="fas fa-utensils"></i>
                    <br>

                    <input type="submit" value="Rate" onclick='setInput(this); button.style.visibility = "hidden";'>
                </form>
                {% endif %}

                <!-- <p>{{curr_recipe.rating}}</p> -->
                <p>Current Recipe Rating:
                    {% if curr_recipe.forks == 1 %}
                    <td><i class="fas fa-utensils"></i></td>
                    {% elif curr_recipe.forks == 2 %}
                    <td><i class="fas fa-utensils"></i> <i class="fas fa-utensils"></i></td>
                    {% elif curr_recipe.forks == 3 %}
                    <td><i class="fas fa-utensils"></i> <i class="fas fa-utensils"></i> <i class="fas fa-utensils"></i>
                    </td>
                    {% elif curr_recipe.forks == 4 %}
                    <td><i class="fas fa-utensils"></i> <i class="fas fa-utensils"></i> <i class="fas fa-utensils"></i>
                        <i class="fas fa-utensils"></i></td>
                    {% elif curr_recipe.forks == 5 %}
                    <td><i class="fas fa-utensils"></i> <i class="fas fa-utensils"></i> <i class="fas fa-utensils"></i>
                        <i class="fas fa-utensils"></i> <i class="fas fa-utensils"></i></td>
                    {% else %}
                    <td>Not Rated Yet</td>
                    {% endif %}

                </p>
                {% if curr_recipe.rated_by.count == 0 %}
                <p>Be the first to rate this recipe!</p>
                {% elif curr_recipe.rated_by.count == 1 %}
                <p>{{curr_recipe.rated_by.count}} person rated this recipe!</p>
                {% else %}
                <p>{{curr_recipe.rated_by.count}} people have rated this recipe!</p>
                {% endif %}
                <p class="lead">{{curr_recipe.description}}</p>
            </div>
            <div id="notes">
                <p class="lead">{{curr_recipe.notes}}</p>
            </div>
            <div>
                <ol>
                    {% for step in steps %}

                    <li>{{step.content}}</li>
                    <br>

                    {% endfor %}
                </ol>
            </div>
            <div id="photo">
                <p>User Photo:</p>
                <img src="{{curr_recipe.photo}}" alt="{{curr_recipe.title}}">
            </div>
        </div>
    </div>
</body>

</html>