<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Recipe Rater</title>

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <!-- End Bootstrap -->
    <!-- Awesomefonts -->
    <script src="https://kit.fontawesome.com/d8911d9eb1.js" crossorigin="anonymous"></script>


    {% load static %}
    <link rel="stylesheet" href="{% static 'css/recipe.css' %}">
    <!-- favicon import -->
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>

<body>
    <!-- <div class="container"> -->
        <nav class="navbar navbar-expand-md navbar-dark sticky-top" id="header">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img src="/media/App Icon - 60x60.png"></a>
                <h2 class=""><a class="navbar-brand" href="/profile/{{request.session.id}}">{{request.session.user}}</a></h2>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                    <span class="navbar-toggler-icon"> </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/add_recipe">Add Recipe</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user_friends/{{request.session.id}}">My Friends</a>
                        </li>
                        <li>
                            <a href="/allrecipes" class="nav-link">Browse All Recipes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Log Out</a>
                        </li>
                    </ul>
                </div>
            </div> 
        </nav>

        <div class="content">
            <div class="text-center bg-dark text-light" id="imgbgd">
               
                <h1 class="text-center">{{curr_recipe.title}}</h1>
                
                <h6>From:</h6>
                <h3><a class="text-light" href="/book/{{curr_recipe.book.id}}">{{curr_recipe.book.title}}</a></h3>

                    {% if curr_recipe.forks == 1 %}
                    <td><i class="fas fa-utensils"></i></td>
                    {% elif curr_recipe.forks == 2 %}
                    <td><i class="fas fa-utensils"></i> <i class="fas fa-utensils"></i></td>
                    {% elif curr_recipe.forks == 3 %}
                    <td><i class="fas fa-utensils"></i> <i class="fas fa-utensils"></i> <i class="fas fa-utensils"></i>
                    </td>
                    {% elif curr_recipe.forks == 4 %}
                    <td><i class="fas fa-utensils"></i> <i class="fas fa-utensils"></i> <i class="fas fa-utensils"></i>
                        <i class="fas fa-utensils"></i></td>
                    {% elif curr_recipe.forks == 5 %}
                    <td><i class="fas fa-utensils"></i> <i class="fas fa-utensils"></i> <i class="fas fa-utensils"></i>
                        <i class="fas fa-utensils"></i> <i class="fas fa-utensils"></i></td>
                    {% else %}
                    <td>Not Rated Yet</td>
                    {% endif %}

                <br>
                {% if curr_recipe.rated_by.count == 0 %}
                <td>Be the first to rate this recipe!</td>
                {% elif curr_recipe.rated_by.count == 1 %}
                <td>{{curr_recipe.rated_by.count}} person rated this recipe!</td>
                {% else %}
                <td>{{curr_recipe.rated_by.count}} people have rated this recipe!</td>
                {% endif %}
                
            <hr class="my-4">
            </div>
            <div class="text-center">
                {% if request.session.id == curr_recipe.poster.id %}
                <a href="/edit_recipe/{{curr_recipe.id}}" class="btn btn-primary">Edit</a>
                        {% endif %}
            <h4>Description: </h4>
            <p>{{curr_recipe.description}}</p>

            <hr class="my-2">
        </div>
                <!-- <p>{{curr_recipe.rating}}</p> -->
              
            
            </div>
            <div class="container padding">
                <div class="row padding">
                    <div class="col-sm-12 col-md-10 col-lg-6">
                        <div class="float-right">
                
            
                            {% if request.session.id == curr_recipe.poster.id %}
            
                            {% else %}
                            <div >
                                <form class="form rounded bg-info text-white" action="/recipe/{{curr_recipe.id}}/rating" method="POST">
                                    {% csrf_token %}
                                    <label>Rate this Recipe:</label>
                                    <br>
                                    <select name="rate">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                    &nbsp;
                                    <i class="fas fa-utensils"> </i>
                                
                                    &nbsp;
                                    <input type="submit" style="padding: 0 3px; border-radius: 15%; background-color:gray; color: white;" value="Rate" id="ratebtn">
                
                                </form>
                            
                            </div>
                            {% endif %}
                            <hr class="my-2">
                        </div>
                        
                        <img id="food" width="600px" class="rounded float-right" src="{{curr_recipe.photo}}" alt="{{curr_recipe.title}}">
                    </div>
                    <div class="col-sm-12 col-md-10 col-lg-6">
                        <br>
                        <h5 class="text-center">Steps:</h5>

                        <ol class="offset-1">
                            {% for step in all_steps %}
                            {% if step.recipe.id == curr_recipe.id %}
                            <li>{{step.content}}</li>
                            
                            {% endif %}
                            {% endfor %}
                        </ol>
                        
                        <div id="notes" class="text-center">
                            <p class="lead">Notes: <br>{{curr_recipe.notes}}</p>
                        </div>
                    </div>
                    
                </div>
                <hr class="my-4">
                
            </div>
            
            
           
        </div>
    <!-- </div> -->
</body>

</html>