<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{request.session.user}} | Recipes</title>
    
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script defer src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!-- End Bootstrap -->

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/user_profile.css' %}">
</head>
<body>
    <div class="container">
        <div id="header">
            <div class="title">
                <h1 class="display-4">Welcome {{request.session.user}}!</h1>
            </div>
            <div class="nav float-right">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a href="/add_recipe" class="btn btn-primary">Add Recipe</a>
                    </li>
                    <li class="nav-item">
                        <a href="/profile/{{request.session.id}}" class="btn btn-primary">My Recipes</a>
                    </li>
                    <li class="nav-item">
                        <form action="/logout" method="POST">
                            {% csrf_token %}
                            <input type="submit" value="Logout" class="logout btn-sm btn-outline-danger">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
        <div id="user_lists">
            <div class="users">
                <h1 class="display-6">Users</h1>
                <ul class="list-group">
                    {% for user in users %}
                    <li class="list-group-item">
                        <a href="/friend_profile/{{user.id}}" class="btn btn-link">{{user.first_name}}</a> <form action="/add_friend/{{user.id}}" method="POST">
                            {% csrf_token %}
                            <button class="btn-sm btn-success" type="submit">Add Friend</button>
                        </form>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="friends">
                <h1 class="display-6">Friends</h1>
                <ul class="list-group">
                    {% for user in friends %}
                    <li class="list-group-item">
                        <a href="/friend_profile/{{user.friend.id}}" class="btn btn-link">{{user.friend.first_name}} {{user.friend.last_name}}</a> <form action="/remove_friend/{{user.id}}" method="POST">
                            {% csrf_token %}
                            <button class="btn-sm btn-danger" type="submit">Remove Friend</button>
                        </form>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</body>
</html>