<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{request.session.user}} | Recipes</title>
    
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script defer src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!-- End Bootstrap -->
    <!-- Awesomefonts -->
    <script src="https://kit.fontawesome.com/d8911d9eb1.js" crossorigin="anonymous"></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/user_profile.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark sticky-top" id="header">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="/media/App Icon - 60x60.png"></a>
            <h2 class=""><a class="navbar-brand" href="/profile/{{request.session.id}}">{{request.session.user}}</a></h2>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarresponsive">
                <span class="navbar-toggler-icon"> </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/add_recipe">Add Recipe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user_friends/{{request.session.id}}">My Friends</a>
                    </li>
                    <li>
                        <a href="/allrecipes" class="nav-link">Browse All Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Log Out</a>
                    </li>
                </ul>
            </div>
        </div> 
    </nav>
    <div class="container">
        <div id="user_lists">
            <div class="findusers">
                <h3 class="display-6">Find User by Email</h3>
                <form action="/user_friends/search" method = "POST">
                    {% csrf_token %}
                    <input type = "search" name = "search" placeholder=" Email">
                    <input type = "hidden" name = "profile_id" value = "{{request.session.id}}">
                    <input type="submit" value = " Find ">
                </form>
            </div>
            <div class="search">
                {% for user in all_users %}
                {% if request.session.result == user.email %}
               <ul class="list-group">
                   <li class="list-group-item"><a href="/friend_profile/{{user.id}}">{{user.first_name}} {{user.last_name}}</a></li>
               </ul>
                {% endif %}
                {% endfor %}
                {% if request.session.result %}
            <a href="/user_friends/{{request.session.id}}/clear" class="btn btn-success">clear search</a>
            {% endif %}
            </div>
            <div class="friends">
                <h1 class="display-6">Friends</h1>
                    {% if friends|length > 0 %}
                    {% else %}
                    <p>You have no friends...sad</p>
                    {% endif %}
                <ul class="list-group">
                    {% for user in friends %}
                    <li class="list-group-item">
                        <a href="/friend_profile/{{user.friend.id}}" class="btn btn-link">{{user.friend.first_name}} {{user.friend.last_name}}</a> <form action="/remove_friend/{{user.id}}" method="POST">
                            {% csrf_token %}
                            <button class="btn-sm btn-danger" type="submit">Remove Friend</button>
                        </form>
                    </li>
                    {% endfor %}
                </ul>
            </div>
          
            <div class="users">
                <h1 class="display-6">Users</h1>
                <ul class="list-group">
                    {% for user in users %}
                    
                
                    <li class="list-group-item">
                        <a href="/friend_profile/{{user.id}}" class="btn btn-link">{{user.first_name}}</a> <form action="/add_friend/{{user.id}}" method="POST">
                            {% csrf_token %}
                            <button class="btn-sm btn-success" type="submit">Add Friend</button>
                        </form>
                    </li>
                    
                    {% endfor %}
                </ul>
            </div>
            
        </div>
    </div>
</body>
</html>