<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{request.session.user}} | Recipes</title>

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!-- End Bootstrap -->
    <!-- Awesomefonts -->
    <script src="https://kit.fontawesome.com/d8911d9eb1.js" crossorigin="anonymous"></script>


    {% load static %}
    <link rel="stylesheet" href="{% static 'css/user_profile.css' %}">
    <!-- favicon import -->
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark sticky-top" id="header">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="/media/App Icon - 60x60.png"></a>
            <h2 class=""><a class="navbar-brand" href="/profile/{{request.session.id}}">{{request.session.user}}</a></h2>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarresponsive">
                <span class="navbar-toggler-icon"> </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/add_recipe">Add Recipe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user_friends/{{request.session.id}}">My Friends</a>
                    </li>
                    <li>
                        <a href="/allrecipes" class="nav-link">Browse All Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Log Out</a>
                    </li>
                </ul>
            </div>
        </div> 
    </nav>
    <div class="container">
        <div id="content" class="row">
            <div class="col-12">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr id="labels">
                            <th>Recipe</th>
                            <th></th>
                            <th>Description</th>
                            <th>Cookbook</th>
                            <th>Rating</th>
                            <th>Notes</th>
                            <th>Photo</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for recipe in user_recipes %}
                        <tr>
                            <th scope="row">
                                <a href="/recipe/{{recipe.id}}">{{recipe.title}}</a>
                            </th>
                            <td><a href="/edit_recipe/{{recipe.id}}" class="btn btn-primary">Edit</a></td>
                            <td>
                                <p class="text-break">{{recipe.description}}</p>
                            </td>
                            <td>{{recipe.book.title}}</td>
                            {% if recipe.forks == 1 %}
                            <td><i class="fas fa-utensils"></i></td>
                            {% elif recipe.forks == 2 %}
                            <td><i class="fas fa-utensils"></i> <i class="fas fa-utensils"></i></td>
                            {% elif recipe.forks == 3 %}
                            <td><i class="fas fa-utensils"></i> <i class="fas fa-utensils"></i> <i
                                    class="fas fa-utensils"></i></td>
                            {% elif recipe.forks == 4 %}
                            <td><i class="fas fa-utensils"></i> <i class="fas fa-utensils"></i> <i
                                    class="fas fa-utensils"></i> <i class="fas fa-utensils"></i></td>
                            {% elif recipe.forks == 5 %}
                            <td><i class="fas fa-utensils"></i> <i class="fas fa-utensils"></i> <i
                                    class="fas fa-utensils"></i> <i class="fas fa-utensils"></i> <i
                                    class="fas fa-utensils"></i></td>
                            {% else %}
                            <td>Not Rated Yet</td>
                            {% endif %}
                            <td>
                                <p class="text-break">{{recipe.notes}}</p>
                            </td>
                            {% if recipe.photo %}
                            <td><img src="{{recipe.photo}}" alt="{{recipe.title}}" class="img" height="100px"></td>
                            {% else %}
                            <td></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-2">
                <div id="search">      
                    <form action='/search' method='POST'>
                        {% csrf_token %}
                        <input type="hidden" name="profile_id" value={{request.session.id}}>
                        <input type="text" name="results">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>       
                </div>
                <ol class="list-group list-group-vertical">
                    {% for recipe in all_recipes %}
                    {% if recipe.title == request.session.result %}
                    <li class="list-group-item list-group-item-info"> <a href="/recipe/{{recipe.id}}">{{recipe.title}}</a></li>
                    {% endif %}
                    {% endfor %}
                </ol>

                <ol class="list-group list-group-vertical">
                    {% for book in all_books %}
                    {% if book.title == request.session.result %}
                    <li class=" list-group-item-sm list-group-item-info"> <a href="/book/{{book.id}}">{{book.title}}</a></li>
                    {% endif %}
                    {% endfor %}
                </ol>
                <div class="mt-1">
                    {% if request.session.result %}
                    <a href="/profile/{{request.session.id}}/clear" class="btn btn-warning" role="button">clear search</a></li>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</body>

</html>