* {
    padding: 0;
    margin: 0;
    font-family: axia, sans-serif;
    font-weight: 400;
    font-style: normal;
    /* outline: 1px solid firebrick; */
}

body {
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header {
    background: #BE441A;
    padding: 20px 0;
}
    #title {
        text-align: center;
        color: whitesmoke;
    }
        .italic {
            font-family: axia, sans-serif;
            font-weight: 400;
            font-style: italic;
        }


#container {
    width: 900px;
    padding-top: 25px;
    text-align: center;
}



    #d_logo {
        margin-top: 50px;
    }
        #rr-logo {
            width: 100px;
        }

    #register, #login {
        display: inline-block;
        margin-top: 25px;
        vertical-align: top;
    }
    #login {
        margin-left: 60px;
    }

        .btn {
            margin-top: 20px;
        }

#errors {
    text-align: center;
    margin-top: 20px;
    height: 20px;
}
    /* .error {
        color: red;
        list-style: none;
        font-size: 8pt;
} */

.eVal {
    font-size: 10pt;
    list-style: none;
}