* {
    padding: 0;
    margin: 0;
    font-family: axia, sans-serif;
    font-weight: 400;
    font-style: normal;
    /* outline: 1px solid orange; */
    
}

/* General tag styles */
body {
    background-color: rgb(247, 247, 247);
}
ol {
    width: 150px;
}
tr {
    height: 100px;
}
    #labels {
        height: 40px;
        background: #BE441A;
        color: whitesmoke;
    }
img {
    max-height: 100px;
}
li {
    list-style-position: inside;
}
    #clearList {
        list-style: none;
    }
/* end general tags */

.mt-1 {
    margin-top: 25px;
}


.title {
    color: whitesmoke;
    background: #BE441A;
    padding: 20px 0;
}


.header {
    padding: 20px;
}
    .nav {
        /* display: inline-block; */
        vertical-align: top;
        margin-top: 15px;
    }
    .nav-item {
        margin-right: 25px;
    }


#content .btn {
    font-size: 10pt;
    padding: 2px 5px;
}

