* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    outline: 1px solid orange;
}


#header {
    padding: 20px;
}
    .title {
        display: inline-block;
        vertical-align: top;
        margin-right: 50px;
    }
    .nav {
        display: inline-block;
        vertical-align: top;
    }

#content {
    margin: 50px;
}

#content .btn {
    font-size: 10pt;
    padding: 2px 5px;
}

.img {
    width: 150px;
}

#buffer {
    display: block;
    height: 3px;
    margin-bottom: 20px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 25%, rgba(0,0,0,1) 75%, rgba(255,255,255,0) 100%);    
}        


.error {
color: red;
list-style: none;
font-size: 8pt;
margin-left: 70px;
}